body{
  color: #0c2847;
  background-color: white;
}

#wrapper{
  margin: auto;
  padding: 30px 40px 50px 40px;
  width: 500px;
  border-style: solid;
  border-color: #87a4fa;
  border-width: 10px;
  background-color: #d4e8ff;
  border-radius: 20px;
}

.flex-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
}


.text{
  margin-left: 30px;
}

.header{
  color: #a8165d;
  font-family: 'Raleway';
  font-size: 40px;
  margin-top: -10px
}

.minidesc{
  font-family: 'Raleway';
}

.artist{
  font-family: 'Raleway';
  margin-top: -10px;
}

.spotify{
margin-top: 20px;
width: 500px;
}

.image{

}

.title{
  font-family: 'Raleway';
  text-align: center;
  font-size: 60px;
}
